body {
    margin: 0;
    text-align: center;
    background: url(https://html5book.ru/wp-content/uploads/2015/05/background1.png);
}
#container {
    display: block;
    margin: 0 auto;
}
.alternate {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
    margin-left: 70px;
}
.alternate__item {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.alternate__item:nth-child(1) {background:#8A6C5E}
.alternate__item:nth-child(2) {background:#BBDADE}
.alternate__item:nth-child(3) {background:#F6D5A1}
.alternate__item:nth-child(4) {background:#FAC0B0}
.alternate__item:nth-child(5) {background:#FF615B}
.alternate li {
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake .7s linear alternate infinite;
}

@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateX(-30px);
    }
}
@keyframes shake {
    100% {
        transform: translateX(-30px);
    }
}

h3 {
    font-weight: bold;
    font-size: 30px;
    color:red;
}
.episode-id{
    font-size: 20px;
    font-weight: bold;
}
