button {
    background-color: teal;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover {
    color:red;
}